# Data Transformation for COVID-19 Data Visualization

---

## Imports

In [ ]:
import pandas as pd
import numpy as np
import pickle

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Global Variables and Helper Functions

In [ ]:
path = 'drive/MyDrive/edav_final_project/'

In [ ]:
def save_data(df, fname):
    with open(fname, 'wb') as outfile:
        pickle.dump(df, outfile)

def load_data(fname):
    with open(fname, 'rb') as infile:
        return pickle.load(infile)

In [ ]:
def check_na(df):
    return df.isna().sum()/len(df)

## Data Transformation

### Retrieve Country Code and US State Code from the Index Table

In [ ]:
index = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/index.csv')
index.head()

  location_key  ... aggregation_level
0           AD  ...                 0
1           AE  ...                 0
2           AF  ...                 0
3       AF_BAL  ...                 1
4       AF_BAM  ...                 1

[5 rows x 15 columns]

In [ ]:
country_key = index[index['aggregation_level']==0].location_key.unique()
us_index = index[index['country_code']=='US']
us_state_key = us_index[us_index['aggregation_level']==1].location_key.unique()

In [ ]:
save_data(country_key, path+"country_key.pkl")
save_data(us_state_key, path+"us_state_key.pkl")

### Epidemiology Table

In [ ]:
# epidemiology table on COVID-19 cases, deaths, recoveries and tests
epi_full = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv')
epi_full.head()

         date location_key  ...  cumulative_recovered  cumulative_tested
0  2020-01-01           AD  ...                   NaN                NaN
1  2020-01-02           AD  ...                   NaN                NaN
2  2020-01-03           AD  ...                   NaN                NaN
3  2020-01-04           AD  ...                   NaN                NaN
4  2020-01-05           AD  ...                   NaN                NaN

[5 rows x 10 columns]

In [ ]:
len(epi_full)

9510741

In [ ]:
check_na(epi_full)

date                    0.000000
location_key            0.000074
new_confirmed           0.000846
new_deceased            0.060718
new_recovered           0.630742
new_tested              0.714495
cumulative_confirmed    0.013967
cumulative_deceased     0.074094
cumulative_recovered    0.630973
cumulative_tested       0.727352
dtype: float64

In [ ]:
cols = ['date', 'location_key', 'new_confirmed', 'new_deceased', 'cumulative_confirmed', 'cumulative_deceased']

In [ ]:
epi_us_state = epi_full[epi_full['location_key'].isin(us_state_key)][cols]
epi_country = epi_full[epi_full['location_key'].isin(country_key)][cols]

In [ ]:
epi_us_state.head()

               date location_key  ...  cumulative_confirmed  cumulative_deceased
7437244  2020-01-22        US_AK  ...                   0.0                  0.0
7437245  2020-01-23        US_AK  ...                   0.0                  0.0
7437246  2020-01-24        US_AK  ...                   0.0                  0.0
7437247  2020-01-25        US_AK  ...                   0.0                  0.0
7437248  2020-01-26        US_AK  ...                   0.0                  0.0

[5 rows x 6 columns]

In [ ]:
len(epi_us_state)

38537

In [ ]:
check_na(epi_us_state)

date                    0.000000
location_key            0.000000
new_confirmed           0.000000
new_deceased            0.000000
cumulative_confirmed    0.000026
cumulative_deceased     0.000208
dtype: float64

In [ ]:
epi_country.head()

         date location_key  ...  cumulative_confirmed  cumulative_deceased
0  2020-01-01           AD  ...                   0.0                  0.0
1  2020-01-02           AD  ...                   0.0                  0.0
2  2020-01-03           AD  ...                   0.0                  0.0
3  2020-01-04           AD  ...                   0.0                  0.0
4  2020-01-05           AD  ...                   0.0                  0.0

[5 rows x 6 columns]

In [ ]:
len(epi_country)

163609

In [ ]:
check_na(epi_country)

date                    0.000000
location_key            0.004327
new_confirmed           0.000544
new_deceased            0.001241
cumulative_confirmed    0.000538
cumulative_deceased     0.001235
dtype: float64

s

In [ ]:
epi_us_state.to_csv(path+"epi_us_state.csv", index=False)
epi_country.to_csv(path+"epi_country.csv", index=False)

### Economy Table

In [ ]:
# economy table on economy indicators
econ_full = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/economy.csv')
econ_full.head()

  location_key       gdp_usd  gdp_per_capita_usd  human_capital_index
0           AD  3.154058e+09             40886.0                  NaN
1           AE  4.211423e+11             43103.0                0.659
2           AF  1.910135e+10               502.0                0.389
3           AG  1.727759e+09             17790.0                  NaN
4           AL  1.527808e+10              5352.0                0.621

In [ ]:
check_na(econ_full)

location_key           0.002740
gdp_usd                0.082192
gdp_per_capita_usd     0.002740
human_capital_index    0.572603
dtype: float64

In [ ]:
len(econ_full)

365

In [ ]:
econ_country = econ_full[econ_full['location_key'].isin(country_key)]

In [ ]:
econ_country.isna().sum()/len(econ_country)

location_key           0.004926
gdp_usd                0.000000
gdp_per_capita_usd     0.000000
human_capital_index    0.231527
dtype: float64

In [ ]:
econ_country.head()

  location_key       gdp_usd  gdp_per_capita_usd  human_capital_index
0           AD  3.154058e+09             40886.0                  NaN
1           AE  4.211423e+11             43103.0                0.659
2           AF  1.910135e+10               502.0                0.389
3           AG  1.727759e+09             17790.0                  NaN
4           AL  1.527808e+10              5352.0                0.621

In [ ]:
len(econ_country)

203

In [ ]:
check_na(econ_country)

location_key           0.004926
gdp_usd                0.000000
gdp_per_capita_usd     0.000000
human_capital_index    0.231527
dtype: float64

In [ ]:
econ_country[econ_country.location_key.notna()].to_csv(path+'econ_country.csv', index=False)

### Emergency Declaration Table

In [ ]:
# table with government emergency declarations & mitigation policies
emergency_declaration_full = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/lawatlas-emergency-declarations.csv')
emergency_declaration_full.head()

         date  ... lawatlas_local_allow
0  2020-01-20  ...                  NaN
1  2020-01-21  ...                  NaN
2  2020-01-22  ...                  NaN
3  2020-01-23  ...                  NaN
4  2020-01-24  ...                  NaN

[5 rows x 104 columns]

In [ ]:
state_mitigate = emergency_declaration_full[['date', 'location_key', 'lawatlas_mitigation_policy']]

In [ ]:
state_code = []
first_mitigate_date = []
for state in state_mitigate.location_key.unique():
    state_code.append(state)
    first = state_mitigate[state_mitigate['location_key']==state][state_mitigate[state_mitigate['location_key']==state].lawatlas_mitigation_policy==1].date.min()
    first_mitigate_date.append(first)

In [ ]:
len(state_mitigate.location_key.unique())

51

In [ ]:
df_first_mitigate = pd.DataFrame({"state_code":state_code, "first_mitigate_date":first_mitigate_date})

In [ ]:
df_first_mitigate.to_csv(path+"first_mitigate_date.csv", index=False)

In [ ]:
state_mitigate[state_mitigate['location_key']=='US_CA'][state_mitigate[state_mitigate['location_key']=='US_CA'].lawatlas_mitigation_policy==1].date.min()

'2020-03-04'

'2020-07-01'

### Health Table

In [ ]:
# health table with health indicators by region
health_full = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/health.csv')
health_full.head()

  location_key  ...  out_of_pocket_health_expenditure_usd
0           AD  ...                           1688.121460
1           AE  ...                            256.034485
2           AF  ...                             50.665913
3           AG  ...                            235.749039
4           AL  ...                                   NaN

[5 rows x 14 columns]

In [ ]:
check_na(health_full[health_full['location_key'].isin(us_state_key)])

location_key                            0.0
life_expectancy                         0.0
smoking_prevalence                      1.0
diabetes_prevalence                     1.0
infant_mortality_rate                   1.0
adult_male_mortality_rate               1.0
adult_female_mortality_rate             1.0
pollution_mortality_rate                1.0
comorbidity_mortality_rate              1.0
hospital_beds_per_1000                  1.0
nurses_per_1000                         1.0
physicians_per_1000                     1.0
health_expenditure_usd                  1.0
out_of_pocket_health_expenditure_usd    1.0
dtype: float64

In [ ]:
health_us_state = health_full[health_full['location_key'].isin(us_state_key)][['location_key', 'life_expectancy']]

In [ ]:
health_us_state.head()

    location_key  life_expectancy
415        US_AK             78.0
442        US_AL             75.1
510        US_AR             75.6
586        US_AZ             78.7
602        US_CA             80.8

In [ ]:
len(health_us_state)

53

In [ ]:
check_na(health_us_state)

location_key       0.0
life_expectancy    0.0
dtype: float64

In [ ]:
health_us_state.to_csv(path+"health_us_state.csv", index=False)

In [ ]:
health_country = health_full[health_full['location_key'].isin(country_key)]

In [ ]:
check_na(health_country)

location_key                            0.004762
life_expectancy                         0.023810
smoking_prevalence                      0.304762
diabetes_prevalence                     0.004762
infant_mortality_rate                   0.080952
adult_male_mortality_rate               0.100000
adult_female_mortality_rate             0.100000
pollution_mortality_rate                0.128571
comorbidity_mortality_rate              0.128571
hospital_beds_per_1000                  0.880952
nurses_per_1000                         0.142857
physicians_per_1000                     0.219048
health_expenditure_usd                  0.114286
out_of_pocket_health_expenditure_usd    0.114286
dtype: float64

In [ ]:
health_country.to_csv(path+"health_country.csv", index=False)

### Mobility Table

In [ ]:
# mobility table with movement of people
mobility_full = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/mobility.csv')
mobility_full.head()

         date location_key  ...  mobility_workplaces  mobility_residential
0  2020-02-15           AE  ...                  2.0                   1.0
1  2020-02-16           AE  ...                  2.0                   1.0
2  2020-02-17           AE  ...                  2.0                   1.0
3  2020-02-18           AE  ...                  2.0                   1.0
4  2020-02-19           AE  ...                  2.0                   1.0

[5 rows x 8 columns]

In [ ]:
check_na(mobility_full)

date                              0.000000
location_key                      0.000158
mobility_retail_and_recreation    0.340447
mobility_grocery_and_pharmacy     0.380990
mobility_parks                    0.522293
mobility_transit_stations         0.493417
mobility_workplaces               0.022200
mobility_residential              0.365202
dtype: float64

In [ ]:
len(mobility_full)

4189245

In [ ]:
mobility_us_state = mobility_full[mobility_full.location_key.isin(us_state_key)]

In [ ]:
mobility_us_state.head()

               date location_key  ...  mobility_workplaces  mobility_residential
2454430  2020-02-15        US_AK  ...                  1.0                   0.0
2454431  2020-02-16        US_AK  ...                  1.0                  -1.0
2454432  2020-02-17        US_AK  ...                -33.0                   8.0
2454433  2020-02-18        US_AK  ...                 -2.0                   2.0
2454434  2020-02-19        US_AK  ...                 -3.0                   2.0

[5 rows x 8 columns]

In [ ]:
check_na(mobility_us_state)

date                              0.000000
location_key                      0.000000
mobility_retail_and_recreation    0.000000
mobility_grocery_and_pharmacy     0.000000
mobility_parks                    0.014780
mobility_transit_stations         0.003999
mobility_workplaces               0.000000
mobility_residential              0.000000
dtype: float64

In [ ]:
len(mobility_us_state)

33762

In [ ]:
mobility_us_state.date.min()

'2020-02-15'

In [ ]:
mobility_us_state.date.max()

'2021-12-07'

In [ ]:
mobility_us_state.to_csv(path+"mobility_us_state.csv", index=False)

### Vaccination Table

In [ ]:
# vaccination table with population vaccination rates
vaccinations_full = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/vaccinations.csv')
vaccinations_full.head()

         date  ... total_vaccine_doses_administered_sinovac
0  2021-01-25  ...                                      NaN
1  2021-02-01  ...                                      NaN
2  2021-02-10  ...                                      NaN
3  2021-02-12  ...                                      NaN
4  2021-02-19  ...                                      NaN

[5 rows x 32 columns]

In [ ]:
len(vaccinations_full)

1373770

In [ ]:
check_na(vaccinations_full)

date                                             0.000000
location_key                                     0.000102
new_persons_vaccinated                           0.550935
cumulative_persons_vaccinated                    0.583284
new_persons_fully_vaccinated                     0.012469
cumulative_persons_fully_vaccinated              0.010842
new_vaccine_doses_administered                   0.551156
cumulative_vaccine_doses_administered            0.582598
new_persons_vaccinated_pfizer                    0.994771
cumulative_persons_vaccinated_pfizer             0.994771
new_persons_fully_vaccinated_pfizer              0.983290
cumulative_persons_fully_vaccinated_pfizer       0.983237
new_vaccine_doses_administered_pfizer            0.988507
cumulative_vaccine_doses_administered_pfizer     0.988465
new_persons_vaccinated_moderna                   0.998323
cumulative_persons_vaccinated_moderna            0.998323
new_persons_fully_vaccinated_moderna             0.986841
cumulative_persons_fully_vaccinated_moderna      0.986788
new_vaccine_doses_administered_moderna           0.988507
cumulative_vaccine_doses_administered_moderna    0.988465
new_persons_vaccinated_janssen                   0.998323
cumulative_persons_vaccinated_janssen            0.998323
new_persons_fully_vaccinated_janssen             0.986841
cumulative_persons_fully_vaccinated_janssen      0.986788
new_vaccine_doses_administered_janssen           0.988507
cumulative_vaccine_doses_administered_janssen    0.988465
new_persons_vaccinated_sinovac                   0.996448
total_persons_vaccinated_sinovac                 0.996448
new_persons_fully_vaccinated_sinovac             1.000000
total_persons_fully_vaccinated_sinovac           1.000000
new_vaccine_doses_administered_sinovac           1.000000
total_vaccine_doses_administered_sinovac         1.000000
dtype: float64

In [ ]:
vaccinations_country = vaccinations_full[vaccinations_full['location_key'].isin(country_key)]
vaccinations_us_state = vaccinations_full[vaccinations_full['location_key'].isin(us_state_key)]

In [ ]:
vac_country_cols = ['date', 'location_key', 'new_persons_vaccinated', 'cumulative_persons_vaccinated', 'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated']

In [ ]:
vaccinations_country[vac_country_cols].to_csv(path+"vaccinations_country.csv", index=False)

In [ ]:
check_na(vaccinations_country)

date                                             0.000000
location_key                                     0.004093
new_persons_vaccinated                           0.038770
cumulative_persons_vaccinated                    0.076896
new_persons_fully_vaccinated                     0.096281
cumulative_persons_fully_vaccinated              0.134524
new_vaccine_doses_administered                   0.029384
cumulative_vaccine_doses_administered            0.032893
new_persons_vaccinated_pfizer                    0.991609
cumulative_persons_vaccinated_pfizer             0.991609
new_persons_fully_vaccinated_pfizer              0.983510
cumulative_persons_fully_vaccinated_pfizer       0.983480
new_vaccine_doses_administered_pfizer            0.991901
cumulative_vaccine_doses_administered_pfizer     0.991872
new_persons_vaccinated_moderna                   1.000000
cumulative_persons_vaccinated_moderna            1.000000
new_persons_fully_vaccinated_moderna             0.991901
cumulative_persons_fully_vaccinated_moderna      0.991872
new_vaccine_doses_administered_moderna           0.991901
cumulative_vaccine_doses_administered_moderna    0.991872
new_persons_vaccinated_janssen                   1.000000
cumulative_persons_vaccinated_janssen            1.000000
new_persons_fully_vaccinated_janssen             0.991901
cumulative_persons_fully_vaccinated_janssen      0.991872
new_vaccine_doses_administered_janssen           0.991901
cumulative_vaccine_doses_administered_janssen    0.991872
new_persons_vaccinated_sinovac                   0.991609
total_persons_vaccinated_sinovac                 0.991609
new_persons_fully_vaccinated_sinovac             1.000000
total_persons_fully_vaccinated_sinovac           1.000000
new_vaccine_doses_administered_sinovac           1.000000
total_vaccine_doses_administered_sinovac         1.000000
dtype: float64

In [ ]:
vac_us_cols = ['date', 'location_key', 'new_persons_vaccinated', 'cumulative_persons_vaccinated', 'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated',
               'new_persons_fully_vaccinated_pfizer', 'cumulative_persons_fully_vaccinated_pfizer',
               'new_persons_fully_vaccinated_moderna', 'cumulative_persons_fully_vaccinated_moderna',
               'new_persons_fully_vaccinated_janssen', 'cumulative_persons_fully_vaccinated_janssen']

In [ ]:
vaccinations_us_state[vac_us_cols].to_csv(path+"vaccinations_us_state.csv", index=False)

In [ ]:
check_na(vaccinations_us_state)

date                                             0.000000
location_key                                     0.000000
new_persons_vaccinated                           0.008337
cumulative_persons_vaccinated                    0.005251
new_persons_fully_vaccinated                     0.009366
cumulative_persons_fully_vaccinated              0.008987
new_vaccine_doses_administered                   0.003086
cumulative_vaccine_doses_administered            0.000000
new_persons_vaccinated_pfizer                    1.000000
cumulative_persons_vaccinated_pfizer             1.000000
new_persons_fully_vaccinated_pfizer              0.160197
cumulative_persons_fully_vaccinated_pfizer       0.157165
new_vaccine_doses_administered_pfizer            0.160197
cumulative_vaccine_doses_administered_pfizer     0.157165
new_persons_vaccinated_moderna                   1.000000
cumulative_persons_vaccinated_moderna            1.000000
new_persons_fully_vaccinated_moderna             0.160197
cumulative_persons_fully_vaccinated_moderna      0.157165
new_vaccine_doses_administered_moderna           0.160197
cumulative_vaccine_doses_administered_moderna    0.157165
new_persons_vaccinated_janssen                   1.000000
cumulative_persons_vaccinated_janssen            1.000000
new_persons_fully_vaccinated_janssen             0.160197
cumulative_persons_fully_vaccinated_janssen      0.157165
new_vaccine_doses_administered_janssen           0.160197
cumulative_vaccine_doses_administered_janssen    0.157165
new_persons_vaccinated_sinovac                   1.000000
total_persons_vaccinated_sinovac                 1.000000
new_persons_fully_vaccinated_sinovac             1.000000
total_persons_fully_vaccinated_sinovac           1.000000
new_vaccine_doses_administered_sinovac           1.000000
total_vaccine_doses_administered_sinovac         1.000000
dtype: float64

### Government Table

In [ ]:
# government interventions and relative stringency table
gov_response_full = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/oxford-government-response.csv')
gov_response_full.head()

         date location_key  ...  vaccination_policy  stringency_index
0  2020-01-01           AD  ...                 0.0               0.0
1  2020-01-02           AD  ...                 0.0               0.0
2  2020-01-03           AD  ...                 0.0               0.0
3  2020-01-04           AD  ...                 0.0               0.0
4  2020-01-05           AD  ...                 0.0               0.0

[5 rows x 22 columns]

In [ ]:
check_na(gov_response_full)

date                                  0.000000
location_key                          0.003295
school_closing                        0.006045
workplace_closing                     0.006650
cancel_public_events                  0.006627
restrictions_on_gatherings            0.007097
public_transport_closing              0.006860
stay_at_home_requirements             0.006636
restrictions_on_internal_movement     0.006957
international_travel_controls         0.011471
income_support                        0.004291
debt_relief                           0.008698
fiscal_measures                       0.317594
international_support                 0.318078
public_information_campaigns          0.007660
testing_policy                        0.008316
contact_tracing                       0.009833
emergency_investment_in_healthcare    0.318883
investment_in_vaccines                0.202563
facial_coverings                      0.007060
vaccination_policy                    0.006808
stringency_index                      0.006962
dtype: float64

In [ ]:
gov_response_country = gov_response_full[gov_response_full['location_key'].isin(country_key)]

In [ ]:
gov_response_us_state = gov_response_full[gov_response_full['location_key'].isin(us_state_key)]

In [ ]:
gov_response_country.to_csv(path+"gov_response_country.csv", index=False)
gov_response_us_state.to_csv(path+"gov_response_us_state.csv", index=False)

In [ ]:
check_na(gov_response_country)

date                                  0.000000
location_key                          0.005439
school_closing                        0.003211
workplace_closing                     0.003864
cancel_public_events                  0.003772
restrictions_on_gatherings            0.004279
public_transport_closing              0.003811
stay_at_home_requirements             0.003764
restrictions_on_internal_movement     0.004126
international_travel_controls         0.003511
income_support                        0.004586
debt_relief                           0.005992
fiscal_measures                       0.183436
international_support                 0.182806
public_information_campaigns          0.004748
testing_policy                        0.005370
contact_tracing                       0.007913
emergency_investment_in_healthcare    0.183767
investment_in_vaccines                0.038682
facial_coverings                      0.003127
vaccination_policy                    0.002996
stringency_index                      0.004126
dtype: float64

In [ ]:
check_na(gov_response_us_state)

date                                  0.000000
location_key                          0.000000
school_closing                        0.000307
workplace_closing                     0.000614
cancel_public_events                  0.000838
restrictions_on_gatherings            0.000866
public_transport_closing              0.000754
stay_at_home_requirements             0.000950
restrictions_on_internal_movement     0.001396
international_travel_controls         0.001648
income_support                        0.002178
debt_relief                           0.002877
fiscal_measures                       0.663548
international_support                 0.667123
public_information_campaigns          0.001145
testing_policy                        0.000754
contact_tracing                       0.001452
emergency_investment_in_healthcare    0.669022
investment_in_vaccines                0.636709
facial_coverings                      0.000950
vaccination_policy                    0.001396
stringency_index                      0.001201
dtype: float64